body {
    background-color: #24282f !important;
}

code {}
$font: 'Sofia', sans-serif;
$font-size: 16px;
$blue: #0a4870;
$blue2: #e3ebf1;
$black: #000;
$grey: #7d7d7d;
$grey2: #f0f0f0;
$grey3: #e8e7e7;
$grey4: #fdfdfd;
$bluegrey: #49606e;
$orange: #ec992c;

@mixin radius($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    border-radius: $val;
}

@mixin cardsOpen() {
    &::before {
        background: rgba(10, 72, 112, 0.6);
    }
    .book-container {
        .content {
            opacity: 1;

            transform: translateY(0px);
        }
    }

    .informations-container {
        transform: translateY(0px);
        .more-information {
            opacity: 1;
        }
    }
}

ul {
    // align-items: center !important;
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    .booking-card {
        position: relative;
        width: 250px;
        height: 500px;
        display: flex;
        flex: 0 0 250px;
        flex-direction: column;

        margin: 20px 20px 30px;
        @include radius(10px);

        overflow: hidden;

        background-position: center center;
        background-size: cover;

        text-align: center;
        color: $blue;

        transition: 0.3s;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background: rgba(10, 72, 112, 0);

            transition: 0.3s;
        }

        .book-container {
            height: 200px;
            .content {
                position: relative;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;

                transform: translateY(-200px);

                transition: 0.3s;

                .btn {
                    border: 3px solid white;
                    padding: 10px 15px;

                    background: none;

                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.3em;
                    color: white;

                    cursor: pointer;

                    transition: 0.3s;

                    &:hover {
                        background: white;

                        border: 0 solid white;

                        color: $blue;
                    }
                }
            }
        }

        .informations-container {
            flex: 1 0 auto;

            padding: 20px;

            background: $grey2;

            transform: translateY(206px);

            transition: 0.3s;

            .title {
                position: relative;

                padding-bottom: 10px;
                margin-bottom: 10px;

                font-weight: bold;
                font-size: 1.2em;

                &::after {
                    content: '';

                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    height: 3px;
                    width: 50px;

                    margin: auto;

                    background: $blue;
                }
            }

            .price {
                display: flex;
                align-items: center;
                justify-content: center;

                margin-top: 10px;

                .icon {
                    margin-right: 10px;
                }
            }

            .more-information {
                opacity: 0;

                transition: 0.3s;
                .info-and-date-container {
                    display: flex;

                    .box {
                        flex: 1 0;

                        padding: 15px;
                        margin-top: 20px;
                        @include radius(10px);

                        background: white;

                        font-weight: bold;
                        font-size: 0.9em;

                        .icon {
                            margin-bottom: 5px;
                        }

                        &.info {
                            color: $orange;

                            margin-right: 10px;
                        }
                    }
                }
                .disclaimer {
                    margin-top: 20px;

                    font-size: 0.8em;
                    color: $grey;
                }
            }
        }

        &:hover {
            @include cardsOpen();
        }
    }
}

@media(max-width: 768px) {
    ul {
        .booking-card {
            @include cardsOpen();
        }
    }
}
.sr-only {
    visibility: hidden !important;
}
.imgslider {
    width: 100%;
    height: 100vh;
}

.credits {
    display: table;
    background: $blue;
    color: white;
    line-height: 25px;

    margin: 10px auto;
    padding: 20px;

    @include radius(10px);

    text-align: center;

    a {
        color: $blue2;
    }
}
.paging {
    display: flex;
    color: #e3ebf1;
    justify-content: center;
}
.pageid {
    align-items: center;
    text-align: center;
}

.rx {
    padding-left: 150px;
    padding-right: 150px;
    color: #7d7d7d;
    font-size: 4rem;
    display: flex;
    justify-content: space-between;
    a{
      color: #7d7d7d;
      &:hover{
        color: white;
      }
    }

}
.coordinate {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logosfooter {

        width: 200px;
        border-radius: 25px;
    }
    .coordaddr {

        color: #e3ebf1;

        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            color: #e3ebf1;
            &:hover {
                color: #7d7d7d;
            }
        }
    }
    
}
.foota{
        display: flex;
        justify-content: center;        
        align-items: center;
        background-color: #24282f;
        h3{
          
          font-size: 1.2rem;
          font-weight: 400;        
        }
    }
